.main {
	width: 100%;
	height: 40vh;
	background-color: $three;

	nav {
		width: 100%;
		height: auto;
		background-color: $three;
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: space-around;
		top: 0;
		img {
			width: 4em;
			height: 3em;
		}

		ul {
			display: inline-flex;
			float: right;
			text-align: center;
			color: $one;

			a:hover {
				color: $four;
			}
			li {
				padding: 0 2em 0 2em;
			}
		}
	}

	.sign-up {
		@include bt-trasnparent;
	}
	.info-main {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 3em auto 0 auto;
		padding: 2em 0.2em 0 0.4em;
		img {
			width: 300px;
			height: 300px;
			@media (max-width: 500px) {
				width: 230px;
				height: 230px;
			}
		}

		.info-text {
			text-align: center;
			h1 {
				color: $one;
				margin-bottom: 0.5em;
			}
		}
	}
}

.p2p-welcome-text {
	width: 80%;
	height: 40vh;
	margin: auto;
	text-align: center;
	h1 {
		color: $three;
	}
}

.footer {
	width: 100%;
	height: 10vh;
	color: $one;
	background-color: $three;
	text-align: center;
}
