$my-font: "Poppins", sans-serif;

body,
p,
span,
a {
	font-family: $my-font;
	font-size: 1rem;
	font-weight: 600;
}
h1 {
	font-size: 3rem;
	font-weight: 600;
}
button {
	font-size: 1.5rem;
}

@media (min-width: 800px) {
	body,
	p,
	span,
	a {
		font-size: 1.2rem;
		font-weight: 600;
	}
	h1 {
		font-size: 3.5rem;
		font-weight: 600;
	}
	button {
		font-size: 1.7rem;
	}
}
