@import "mixin";
@import "colors";
@import "main";
@import "typography";
@import "calculator";
@import "see-sign-up";

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: $my-font;

	a {
		color: white;
		text-decoration: none;
		list-style: none;

		&:hover {
			color: white;
			text-decoration: none;
			list-style: none;
		}
	}
}

///
